header{
    height: 1.5rem;
    background: darkorange;
    margin-bottom: 0.3rem;
}

#smscode{
	width: 100px; 
	float:left;
}

#sendsms{
	float:left; 
	width:100px; 
	height: 30px; 
	border: 1px solid #ccc; 
	margin-left: 10px; 
	border-radius: 8px
}

#smscode_info{
	clear: both; 
	display: block
}


.clear{
	clear: both
}


.lastdiv{
	height: 10px;
}